body {
    background-color: green;
    margin: 0px;
    position:relative;
}

#try1 {
    background-color: blue;
    position:relative;
    height: 78px;
}

#inside1{
    position:relative;
    top: 50px;
    left: 50px;
    display: inline-block;
}

#inside2{

    display: inline-block;
}

#try2 {
    background-color: pink;
    margin: 10px;

    
}

#try3 {
    background-color: orange;
    margin: 10px;
}