::placeholder{
    padding-left: 10px;
}

#weatherImageDiv{
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

#weatherImage {
    padding: 10px;
    width: 150px;
    height: 150px;
}

#location{
    font-size: 16px;
}

#googleMap{
    display:inline-block;
    position:relative;
    margin-top: 20px;
    margin-left: 50px;
    height: 200px;
    width: 200px;
}

#container{
    display: inline-block;
    position: relative;
    left: 500px;
    min-width: 200px; 
    height: 200px; 
    margin: 0 auto
}